.video_main {
    margin-top: 40px;
}

.Lançamentos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 40px;
    width: 100%;
}

.box_1, .box_2, .box_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.formulario form {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario label strong {
    color: #003BDE;
    font-size: 15px;
    display: inline-block;
} 

.formulario label span {
    color: #333;
    font-size: 13px;
    font-weight: normal;
}

.formulario input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.button_info {
    position: absolute;
    bottom: 12px;
}

.button_info img {
    width: 20px;
    cursor: pointer;
}

.button {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 50px;
}

.button button {
    width: 350px;
    height: 50px;
    background-color: #1072BA;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.button button:hover {
    background-color: #001e46;
}


